.root {
  min-height: 45rem;
  position: relative;
}

.root div {
  z-index: -10;
  min-height: 40rem;
  background-image: url("../../../img/meals.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 90%);
}