*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: #7F2607;
  --color-primary-dark: #451602;
  --color-white: #FFFDFB;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.7;
}