*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: #7F2607;
  --color-primary-dark: #451602;
  --color-white: #FFFDFB;
  --color-black: #262526;
  --color-black-light: #323132;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.7;
  background-color: var(--color-black);
}